<footer class="bg-dark text-light py-5 mt-5">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h5 class="text-warning">🚀 ElectroHub</h5>
                <p class="mb-0">Торговая сеть электроники</p>
                <small class="text-muted">Лучшие гаджеты по доступным ценам</small>
            </div>
            <div class="col-md-4">
                <h6>Категории</h6>
                <ul class="list-unstyled">
                    <li><a href="#" class="text-light text-decoration-none">Смартфоны</a></li>
                    <li><a href="#" class="text-light text-decoration-none">Ноутбуки</a></li>
                    <li><a href="#" class="text-light text-decoration-none">Планшеты</a></li>
                    <li><a href="#" class="text-light text-decoration-none">Аксессуары</a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <h6>Контакты</h6>
                <ul class="list-unstyled">
                    <li>📞 8-800-123-45-67</li>
                    <li>✉️ info@electrohub.ru</li>
                    <li>🕒 Ежедневно 9:00-21:00</li>
                </ul>
            </div>
        </div>
        <hr class="my-4">
        <div class="row">
            <div class="col-md-6">
                <p class="mb-0">&copy; 2025 ElectroHub. All rights reserved.</p>
            </div>
            <div class="col-md-6 text-md-end">
                <small class="text-muted">Техника для жизни!</small>
            </div>
        </div>
    </div>
</footer>